
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="site-nav grid">
        <h1><a href="/home">Pure vintage</a></h1>
        <ul>
            <li><a href="#store">Store</a></li>
            <li><a href="#login">Login</a></li>
            <li><a href="#create">Create account</a></li>
            <li><a href="/me">my prof</a></li>
            <li><a href="/cart">my cart</a></li>

            <li><a href="/add">add product</a></li>
        </ul>
    </nav>
    
    <section id="store" class="store">
        <h3>Categories</h3>
        <div class="grid category">
            <img src="assets/<%-name.image%>" alt="category 2">
            <h3><%-name.brand%></h3>
            <h4><%-name.name%></h4>
            <h5><%-name.description%></h5>
            
            <form method="GET" action="/added">
            <input type="checkbox" name="inCart" value="<%-name.id%>">
            <button class="button">Submit</button>
        </form>
        </div>
    </section>

    <div class="reviews">
        <h3>reviews</h3>
        <div class="grid category">
            <form action="/reviews" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="desc" name="desc">
            
            <input type="number" placeholder="star" name="star">
            <input type="text" name="id" value="<%-name.id%>" hidden>
            <input type="submit" name="submit" value="submit">

        </form>
        </div>

        <% reviews.forEach(function(name){ %>
            <h4><%-name.name%></h4>

                <h4><%-name.comment%></h4>
                <h3><%-name.rating%></h3>
            <% }); %>

    </div>

    <section id="products" class="products">
        <h3>Some of our other products</h3>
        <ul class="grid">
            <li>
                <img src="assets/shoes1.jpg" alt="she">
                <h4>js</h4>
            </li>
            <li>
                <img src="assets/trousers1.jpg" alt="trou">
                <h4>js</h4>
            </li>
            <li>
                <img src="assets/cap1.jpg" alt="cap">
                <h4>js</h4>
            </li>
            <li>
                <img src="assets/tshirt1.jpg" alt="shirt">
                <h4>js</h4>
            </li>
        </ul>
    </section>
    <section id="login" class="login">
        <h3>Login</h3>
        <p class="leading">Lorem ipsum dolor sit amet consectetur</p>
        <form method="POST" action="/login">
            <input type="email" placeholder="email">
            <input type="password" placeholder="password">
            <button class="button">Submit</button>
        </form>
        <a href="/logout">Logout</a>
    </section>
    <section id="create" class="create">
        <h3>Get an account</h3>
        <p class="leading">Lorem ipsum dolor sit amet consectetur</p>
        <form method="POST" action="/register">
            <input type="text" placeholder="name" name="name">
            <input type="email" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <button class="button">Submit</button>
        </form>
    </section>

    <footer>
        <div class="grid">
            <p class="copyright">copyright 2020</p>
            <ul class="social">
                <li><a href=""><img src="assets/cap1.jpg" alt="facebook"></a></li>
                <li><a href=""><img src="assets/coat1.jpg" alt="twitter"></a></li>
            </ul>
        </div>
    </footer>

</body>

</html>