
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <%- include('./partials/nav.ejs'); %>

    
        <section id="welcome" class="grid">
            <div class="welcome-text">
                <h2>Vintage clothes <br> and shoes</h2>
                <p class="leading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, veniam.</p>
                <a href="/store" class="button">View products</a>
            </div>
            <div class="welcome-image">
            </div>
        </section>
        <section id="store" class="store">

            <ul>
                <a href="/store?category=shirts"><li>Shirts</li></a>
                <a href="/store?category=coats"><li>Coats</li></a>
                <a href="/store?category=trousers"><li>Trousers</li></a>
                <a href="/store?category=shoes"><li>Shoes</li></a>
                <a href="/store?category=accessories"><li>Accessories</li></a>
                <a href="/store?category=other"><li>Other</li></a>
                
            </ul>
            <h3>products</h3>
            <div class="grid category">
    
                <% names.forEach(function(name){ %>
                <a href="/product?id=<%-name._id%>">
                    <img src="assets/<%-name.image[0]%>" alt="category 2">
                    <h4><%-name.name%></h4>
                    <h3><%-name.brand%></h3>
                </a>
                <% }); %>
                <!-- <a href="">
                    <img src="assets/shoes1.jpg" alt="category 2">
                    <h4>shoes</h4>
                </a>
                <a href="">
                    <img src="assets/shirt1.jpg" alt="category 3">
                    <h4>shirt 1</h4>
                </a> -->
    
            </div>
        </section>
        <section id="products" class="products">
            <h3>Some of our products</h3>
            <ul class="grid">
                <li>
                    <img src="assets/shoes1.jpg" alt="she">
                    <h4>js</h4>
                </li>
                <li>
                    <img src="assets/trousers1.jpg" alt="trou">
                    <h4>js</h4>
                </li>
                <li>
                    <img src="assets/cap1.jpg" alt="cap">
                    <h4>js</h4>
                </li>
                <li>
                    <img src="assets/tshirt1.jpg" alt="shirt">
                    <h4>js</h4>
                </li>
            </ul>
        </section>
        
    
        <footer>
            <div class="grid">
                <p class="copyright">copyright 2020</p>
                <ul class="social">
                    <li><a href=""><img src="assets/cap1.jpg" alt="facebook"></a></li>
                    <li><a href=""><img src="assets/coat1.jpg" alt="twitter"></a></li>
                </ul>
            </div>
        </footer>
    
    </body>
    
    </html>